<header class="d-flex flex-row align-items-center justify-content-between p-3 px-4 mb-4 border-bottom 
bg-white border-bottom fixed-top shadown-sm"
>
<img src="/assets/images/logo.png" alt="logo" style="max-height: 70px;">
    <nav class="my-2">  
        <a class="p-2 text-dark text-decoration-none" href="#">Home</a>
        <a class="p-2 text-dark text-decoration-none" href="#">Feaute</a>
        <a class="p-2 text-dark text-decoration-none" href="#">Support</a>
        <a class="p-2  text-dark text-decoration-none" href="#">Contact</a>     
</nav>
<div class="d-flex align-items-center">
<a >
    
    <div class="cart-no">5</div>
</a>
<a href="" class="btn btn-outline-secondary me-2">Login</a>
<a href="" class="btn btn-outline-secondary me-3">Sign Up</a>

</div>
</header>